<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="css/style.css" />
 
</head>
<body>
    {{>navbar}}
    <!--1st part-->
    <section>
        <div id="main-img">
            <img src="images/3.jpg">
        </div>
        <aside>
            <h3>NOHO DESIGN</h3>
            <p> CREATIVE - MODERN AND CLEAN ONEPAGE TEMPLATE FOR YOU NEXT PROJECT</p></aside>
            <div id="backdrop"></div>
    </section>
      <!--Home-->
    <main>
        <h2>NOHO DESIGN - CREATIVE MUSE TEMPLATE</h2>
     <div class="para1"> <p>This Template can be individually adapted in Adobe Muse. You can edit text, 
            colors or images with one click.You don´t need to writing code to edit the content design.</p></div>
            <div id="features"> 
            <div class="left-side"> 
                <h4>FEATURED WORKS </h4>
                <p>Diam voluptua. At dona vero eosetn de justo. Lorem ipsum doloro sitmet 
                    idorn voluptu ant ede justo. Dolor sit amet, cons meros dolor sit amet, 
                    tempor invidunt utulan  desques fura muyam.</p>
                    <i class="fa fa-long-arrow-right fa-2x" aria-hidden="true "></i>
            </div>

            <div class="right-side">
        <div class="homeimg">
           <img  class="img-right" src="images/image_4.jpg">
           <div class="imgside">
            <h5>T-SHIRT</h5>
            <p>Creative Design</p>
        </div>
    </div>
    <div class="homeimg">  
           <img  class="img-right" src="images/image_10.jpg">
           <div class="imgside">
            <h5>PRODUCT</h5>
            <p>Product Design</p>
        </div>
           </div>


           <div class="homeimg">
            <img  class="img-right" src="images/1.jpg">
            <div class="imgside">
                <h5>DESIGN</h5>
                <p>Development</p></div>
            </div>
            </div>
        </div> 
    </main>
     <!--Portfolio-->
    <div id="portfolio">
        <div class="port-left">
        <h2>PORTFOLIO</h2>
            <p>Diam voluptua. At dona vero eosetn de justo. Lorem ipsum dolor sit amet, Diam voluptu ant ede
             justo.Sorem ipsum dolor sit amet, cons meros dolor sit amet, doran bresto mena hurasta freson 
             meteura.</p>
            </div>
             <div id="port-images">
          <div class="p1"><img class="port_img" src="images/image_3.jpg"><div class="anim"><h4>STATIONARY</h4><p>Creative Design</p></div></div>  
          <div class="p1"><img class="port_img" src="images/image_2.jpg"><div class="anim"><h4>DEVICES</h4><p>Development</p></div></div>  
          <div class="p1"><img class="port_img" src="images/image_5.jpg"><div class="anim"><h4>Identity</h4><p>Creative Design</p></div></div>
         <div class="p1"><img class="port_img" src="images/1.jpg"><div class="anim"><h4>MOBILE DEVICES</h4><p>Development</p></div></div>  
          <div class="p1"><img class="port_img" src="images/image_4.jpg"><div class="anim"><h4>T-SHRT</h4><p>Creative Design</p></div></div>  
          <div class="p1"><img class="port_img" src="images/image_8.jpg"><div class="anim"><h4>PRODUCT</h4><p>Creative Design</p></div></div> 
          <div class="p1"><img class="port_img" src="images/image_7.jpg"><div class="anim"><h4>LOGO DESIGN</h4><p>Creative Design</p></div></div>  
          <div class="p1"><img class="port_img" src="images/image_10.jpg"><div class="anim"><h4>A4 PAPER</h4><p>Creative Design</p></div></div>  
          <div class="p1"><img class="port_img" src="images/image_6.jpg"><div class="anim"><h4>STATIONARY</h4><p>Creative Design</p></div></div></div>
            
             <div class="quote">
                 <p>"Sicing elitr, sed diam nonumy eir umod tempor invidunt utum la daaliq muyam erat, sed diam voluptua."</p>
            </div>
    </div>
   
     <!--Services-->
     <div id="services">
         <div class="left-service">
         <h2>OUR COMPANY SERVICES</h2>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, sit. Nesciunt, 
             libero corporis. Eius possimus architecto ratione nostrum culpa accusantium.</p>
            </div>
             <div id="comapanyService">

                <div class="link">    <div><i class="fa fa-folder-o fa-2x" aria-hidden="true"></i><h4>CUSTOMIZIBLE</h4></div> 
                <p>Etra mora vitae dor fring, lorda nuraon beso</p></div>

                <div class="link">    <div><i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i><h4> MODERN DESIGN</h4> </div> 
                <p>Etra mora vitae dor utum la daaliq muyam erat, sed .</p></div>

                <div class="link">   <div><i class="fa fa-toggle-off fa-2x" aria-hidden="true"></i><h4>STYLE OPTION</h4></div> 
                <p> Sicing elitr, sed diam nonumy eir umod tempor invidunt </p></div> 

                <div class="link">  <div><i class="fa fa-file-o fa-2x" aria-hidden="true"></i><h4>RETINA READY</h4></div> 
                <p>dolor sit amet, doran bresto mena hurasta freson meteura</p></div>

                <div class="link">   <div><i class="fa fa-circle-o fa-2x" aria-hidden="true"></i><h4>EASY TO EDITABLE</h4></div> 
                <p> consectetur adipisicing elit. Nemo, inciduntns meros </p></div>

                <div class="link">   <div><i class="fa fa-minus-square-o fa-2x" aria-hidden="true"></i><h4>LAYERED</h4></div> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p></div>

                <div class="link">  <div><i class="fa fa-code fa-2x" aria-hidden="true"></i><h4>NO CODE CHANGE</h4></div> 
                <p>Drastesn vitae dor mirosa augue. vitae ngruda,</p></div>

                <div class="link">  <div><i class="fa fa-comment-o fa-2x" aria-hidden="true"></i><h4>SUPPORT</h4></div> 
                <p>Urasno vitae dor fbrason augue. vitae etrudy,</p></div>
            </div>
    </div>
      <!--PPRICING OFFER-->
      <div id="offer">
<div  class="offer_text">
            <h2>OUR PRICING OFFER</h2>
            <p>Diam voluptua. At dona vero eosetn de justo. Lorem ipsum dolor sit amet, Diam voluptu ant ede justo.
                Sorem ipsum dolor sit amet, cons meros dolor sit amet, doran bresto mena hurasta freson meteura.</p>
            </div>
                <div id="pricetag">
        <div class="prices">
           <div class="black-back"><h3>$15</h3><p>/monthly</p>
            <div class="tag">
                <h5>STARTER</h5>
                <ul>
                    <li>2 Design Version</li>
                    <li>10 Users</li>
                    <li>5 GB Storage</li>
                    <li>Mail Support</li>
                   
                </ul>
                <input type="button" value="Sign Up" name="Sign Up">
            </div></div>
            
        </div>
        <div class="prices"><div class="black-back"><h3>$25</h3><p>/monthly</p>
            <div class="tag">
                <h5>PROFESSONAL</h5>
                <ul>
                    <li>5 Design Version</li>
                    <li>Unlimited Users</li>
                    <li>10 GB Storage</li>
                    <li>Phone & Mail Support</li>
                </ul>
                <input type="button" value="Sign Up" name="Sign Up"></div>
            </div> </div> 
       
        <div class="prices"><div class="black-back"><h3>$40</h3><p>/monthly</p>
            <div class="tag">
                <h5>ENTERPRICE</h5>
                <ul>
                    <li>10 Design Version</li>
                    <li>Unlimited Users</li>
                    <li>20 GB Storage</li>
                    <li>Phone & Mail Support</li>
                </ul>
                <input type="button" value="Sign Up" name="Sign Up">
          </div></div>
        
      </div>
    </div>
      <!--ABOUT US-->
      <div id="About_Us">
          <div class="upper_part">
          <div class="details">
              <h2>ABOUT US</h2>
              <p>Sicing elitr, sed diam nonumy eir umod tempor des invidunt utum la daaliq muyam erat, 
                  sed diam  voluptua.</p><p> At dona vero eosetn de justo.Lorem ipsum dolor sit amet, consetetur 
                  sad.Muyam  erat, sed diam voluptua. At dona vero eosetn deona justo. Lorem ipsum dolor 
                  sit amet, consetetur sad. Diam nonumy eir umod tempor des invidunt utum la daslim</p>
          </div>
          <div class="progress-bar" >
            <h3>SKILLS</h3>
            <h5>Creative Design</h5>
            <progress  max="100" value="75" >75%</progress><br>
            <h5>Photography</h5>
            <progress  max="100" value="70">70%</progress><br>
            <h5>Web Development</h5>
            <progress  max="100" value="85">85%</progress>
        </div>
          </div>
        <div class="workers">
            <div id="person1">
           <div  class="work1"> <img src="images/4.jpg"><div class="workerprof"><h5> MIKE SMITH</h5><p>CEO/Development</p></div></div> 
           <div class="border"></div> 
           <div class="links">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                    <i class="fa fa-dribbble" aria-hidden="true"></i>
                </div>
            </div>
            <div id="person2">
                <div  class="work1">    <img src="images/5.jpg"><div class="workerprof"><h5>JONA MILLER</h5><p>Creative Design</p></div></div> 
                <div class="border"></div> 
                <div class="links">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                    <i class="fa fa-dribbble" aria-hidden="true"></i>
                    </div>
            </div>
            <div id="person3">
                <div  class="work1">    <img src="images\2.jpg"><div class="workerprof"><h5>JOHN DONA</h5><p>Web Development</p></div></div> 
                <div class="border"></div> 
                <div class="links">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                    <i class="fa fa-dribbble" aria-hidden="true"></i>
                </div>
            </div>
        </div>
      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d924234.6301497458!2d66.59496105984819!3d25.193389485801205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33e06651d4bbf%3A0x9cf92f44555a0c23!2sKarachi%2C%20Karachi%20City%2C%20Sindh%2C%20Pakistan!5e0!3m2!1sen!2s!4v1620323094002!5m2!1sen!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
       <!--FORM-->
     <div id="details">
           <div class="text-area">
           <h2>GET IN TOUCH</h2>
           <p>Diam voluptua. At dona vero eosetn de justo. Lorem ipsum dolor sit amet, Diam voluptu ant ede justo.
            Sorem ipsum dolor sit amet, cons meros dolor sit amet, doran bresto mena hurasta freson meteura.</p>
        </div>
            <div id="userdetails">
            <div id="info">
                <div id="address"><h4>ADDRESS</h4>
                    <p>57 Mainstreet, MainTower, Barcelona</p></div>
            <div id="phone">
                <h4>PHONE/EMAIL</h4>
                <p>Number: 004 987 654 3210</p>
                <p> contact@yourcompany.com</p></div>
            </div>
            <div id="userForm">
               <form action="/contact" method="POST">
                <div class="basic_info"> <label class="space">Name :  </label>
                   <input type="text" placeholder="Your Name" class="upperform" name="name"></div>  
                <div  class="basic_info"><label class="space">Email :</label>
                  <input type="email"  placeholder="Email" class="upperform" name="email"></div> 
                <div  class="basic_info"><label>Phone :</label>
                   <input type="number"  placeholder="Phone Number" class="upperform" name="phone"></div> 
                  
                <div id="message">
                  <label>Your Message : </label>
                   <textarea name="message" cols="75" rows="10" placeholder="Add your views :)"> </textarea>	
                   <div id="btn">
                   <button type="
                   submit">SEND</button>
                   </div>
                </div>
               </form>
            </div>
        </div>
       </div>
 <footer>
           <div id="logo-footer">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-linkedin" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-google-plus" aria-hidden="true"></i>
            <i class="fa fa-dribbble" aria-hidden="true"></i>
           </div>
           <div id="footer-text"><p>© 2015 Copyright NOHO - Created by MuseFrame</p> </div>
</footer>
</body>
<script src="js/app.js"></script>
</html>
</body>
</html>