   <div id="details">
           <div class="text-area">
           <h2>GET IN TOUCH</h2>
           <p>Diam voluptua. At dona vero eosetn de justo. Lorem ipsum dolor sit amet, Diam voluptu ant ede justo.
            Sorem ipsum dolor sit amet, cons meros dolor sit amet, doran bresto mena hurasta freson meteura.</p>
        </div>
            <div id="userdetails">
            <div id="info">
                <div id="address"><h4>ADDRESS</h4>
                    <p>57 Mainstreet, MainTower, Barcelona</p></div>
            <div id="phone">
                <h4>PHONE/EMAIL</h4>
                <p>Number: 004 987 654 3210</p>
                <p> contact@yourcompany.com</p></div>
            </div>
            <div id="userForm">
               <form action="/contact" method="POST">
                <div class="basic_info"> <label class="space">Name :  </label>
                   <input type="text" placeholder="Your Name" class="upperform" name="username"></div>  
                <div  class="basic_info"><label class="space">Email :</label>
                  <input type="email"  placeholder="Email" class="upperform" name="email"></div> 
                <div  class="basic_info"><label>Subject :</label>
                   <input type="text"  placeholder="Subject" class="upperform" name="subject"></div> 
                <div id="message">
                  <label>Your Message : </label>
                   <textarea name="Message" cols="75" rows="10">Add a brief Message</textarea>	
                   <div id="btn">
                   <button>SEND</button>
                   </div>
                </div>
               </form>
            </div>
        </div>
       </div>